<h1>codeial/<%= title %>
</h1>

<section id="feed-post">
    <h4>Post</h4>
    <form action="" method="post" id="new-post-form"></form>
    <textarea name="content" id="" cols="30" rows="3"></textarea>
    <input type="submit" value="post">
</section>